.u-color-primary {
  color: $color-primary !important;
}

.u-justify-content-space-arround {
  justify-content: space-around !important;
}

.u-justify-content-flex-start {
  justify-content: flex-start !important;
}

.u-flex-gap-sm {
  gap: 1.2rem !important;
}

.u-max-width-7-rem {
  max-width: 10rem !important;
}
