// FONTS
$fontSize-md: 2rem;
$fontSize-l: 3.2rem;
$fontSize-xl: 6.4rem;
$fontWeight-regular: 400;
$fontWeight-bold: 700;
// COLORS
$color-primary: #ad80f3;
$color-secondary: #8d8d8d;
$color-tertiary: #343447;
$color-background: #f6f6f6;
// SIZING
$padding-md: 2rem;
$padding-l: 4rem;
$padding-xl: 8rem;
$margin-sm: 0.75rem;
$margin-md: 2rem;
$margin-l: 4rem;
$margin-xl: 8rem;
$about-me-text-container: 25rem;
// IMAGES
$icon-image-width: 18rem;
