<header class="header">
  <h2 class="heading-secondary">Tobias Blaksley</h2>
  <nav class="header__nav">
    <ul class="header__nav__list">
      <li class="header__nav__list__item">
        <a class="header__nav__list__item__link btn" routerlink="" routerlinkActive="u-color-primary">
          Welcome
        </a>
      </li>
      <li class="header__nav__list__item">
        <a class="header__nav__list__item__link btn" routerlink="/about" routerlinkActive="u-color-primary">
          About me
        </a>
      </li>
      <li class="header__nav__list__item">
        <a class="header__nav__list__item__link btn" routerlink="/my-stack" routerlinkActive="u-color-primary">
          My stack
        </a>
      </li>
      <li class="header__nav__list__item">
        <a class="header__nav__list__item__link btn" routerlink="/my-work" routerlinkActive="u-color-primary">
          My work
        </a>
      </li>
      <li class="header__nav__list__item">
        <a href="mailto: tobias.blaksley@hotmail.com" class="header__nav__list__item__link btn">
          Contact me
        </a>
      </li>
    </ul>
  </nav>
</header>
