@import "../../../sass/variables";
@import "../../../sass/utilities";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999999999999999999999;
  &__nav {
    z-index: 999999999999999999999;

    &__list {
      display: flex;
      list-style: none;
      gap: 5rem;
      z-index: 999999999999999999999;

      &__item {
        z-index: 999999999999999999999;

        &__link {
          z-index: 999999999999999999999;
          text-transform: uppercase;
        }
      }
    }
  }
}
