<div class="section-welcome">
  <img class="section-welcome--joystick" src="assets/joystick.svg" alt="Joystick">
  <img class="section-welcome--vr" src="assets/anteojos.svg" alt="VR">
  <img class="section-welcome--headphones" src="assets/headphones.svg" alt="Headphones">
  <img class="section-welcome--keypad" src="assets/teclado.svg" alt="Keypad">
  <img class="section-welcome--notebook" src="assets/laptop.svg" alt="Notebook">
  <h1 class="heading-primary animated">
    Mobile | Web
    <span class="heading-primary--sub1 animated--sub1">
      Developer
    </span>
    <span class="heading-primary--sub2 animated--sub2">
      Sensible to frontend
    </span>
  </h1>
</div>
