<div class="section-welcome">
  <img class="section-welcome--joystick" src="assets/joystick.svg" alt="Joystick">
  <img class="section-welcome--vr" src="assets/anteojos.svg" alt="VR">
  <img class="section-welcome--headphones" src="assets/headphones.svg" alt="Headphones">
  <img class="section-welcome--keypad" src="assets/teclado.svg" alt="Keypad">
  <img class="section-welcome--notebook" src="assets/laptop.svg" alt="Notebook">
  <app-gradient-circle [img]="mainImage" [alt]="altMessageMainImage"></app-gradient-circle>
</div>
