@import "../../../sass/mixins";
@import "../../../sass/animations";

.section-welcome {
  animation: fadeIn 1s ease;
  &--vr {
    @include icons(26%, 1%);
  }
  &--joystick {
    @include icons(60%, 1%);
  }
  &--notebook {
    @include icons(19%, 50%);
  }
  &--keypad {
    @include icons(50%, 75%);
    transform: translateX(-50%);
  }
  &--headphones {
    @include icons(64%, 60%);
  }
  &--vr:hover,
  &--joystick:hover,
  &--notebook:hover,
  &--headphones:hover {
    transform: translateY(-2rem);
  }
  &--keypad:hover {
    transform: translate(-50%, -2rem);
  }
  .animated {
    position: absolute;
    top: 40%;
    left: 69%;
    animation: fadeInDown 1s linear;
  }
}
