@import "../../../sass/mixins";
@import "../../../sass/animations";
@import "../../../sass/variables";

.section-welcome {
  &--vr {
    animation: fadeIn 1s ease;
    @include icons(10%, 3%);
    transition: $smooth-transition-up;
  }
  &--joystick {
    animation: fadeIn 1s ease;
    @include icons(60%, 3%);
    transition: $smooth-transition-up;
  }
  &--notebook {
    animation: fadeIn 1s ease;
    @include icons(-5%, 50%);
    transition: $smooth-transition-up;
  }
  &--keypad {
    animation: fadeIn 1s ease;
    @include icons(50%, 82%);
    transform: translateX(-50%);
    transition: $smooth-transition-up;
  }
  &--headphones {
    animation: fadeIn 1s ease;
    @include icons(78%, 65%);
    transition: $smooth-transition-up;
  }
  &--vr:hover,
  &--joystick:hover,
  &--notebook:hover,
  &--headphones:hover {
    transform: translateY($translateY-up-sm);
  }
  &--keypad:hover {
    transform: translate(-50%, $translateY-up-sm);
  }
  .animated {
    position: absolute;
    top: 40%;
    left: 92%;
    animation: fadeInLeft 1s linear;
    @media (max-width: 1250px) {
      animation: fadeInDownBig 1s linear;
      top: 105%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
