<section class="section-my-work">
  <div class="section-my-work__marken-container">
    <a href="https://markendrinks.com/" target="__blank" class="section-my-work__marken-container__link">
      <img class="section-my-work__marken-container__link--icon" src="assets/marken.png" alt="Marken logo">
    </a>
  </div>
  <div class="section-my-work__dln-container">
    <a href="https://dlnconstrucciones.net/" target="__blank" class="section-my-work__dln-container__link">
      <img class="section-my-work__dln-container__link--icon" src="assets/dln.png" alt="DLN Construcciones logo">
    </a>
  </div>
  <div class="section-my-work__omnifood-container">
    <a href="https://infallible-cray-447420.netlify.app/" target="__blank"
      class="section-my-work__omnifood-container__link">
      <img class="section-my-work__omnifood-container__link--icon" src="assets/omnifood-logo.png" alt="Omnifood logo">
    </a>
  </div>

  <a href="https://laughing-khorana-2fe8f2.netlify.app" target="__blank" class="section-my-work__old-portfolio">
    <h3>
      Portfolio V-1.0.0
    </h3>
  </a>

  <div class="section-my-work__tailwind-container">
    <a href="https://eloquent-rabanadas-493fb4.netlify.app/" target="__blank"
      class="section-my-work__tailwind-container__link">
      <img class="section-my-work__tailwind-container__link--icon" src="assets/tailwind.png" alt="Tailwind css logo">
    </a>
  </div>

  <h3 class="section-my-work__message">
    More to come!
  </h3>
</section>
