@import "../../../sass/mixins";
@import "../../../sass/animations";
@import "../../../sass/variables";

.section-my-work {
  &__marken-container {
    &__link {
      &--icon {
        @include icons(29%, 1%);
        @include about-me-icon;
        animation: fadeIn 1s ease;
        transition: $smooth-transition-up;
      }
    }
  }

  &__dln-container {
    &__link {
      &--icon {
        @include icons(75%, 30%);
        @include about-me-icon;
        animation: fadeIn 1s ease;
        transition: $smooth-transition-up;
      }
    }
  }

  &__omnifood-container {
    &__link {
      &--icon {
        @include icons(65%, 80%);
        @include about-me-icon;
        animation: fadeIn 1s ease;
        transition: $smooth-transition-up;
      }
    }
  }

  &__tailwind-container {
    &__link {
      &--icon {
        @include icons(12%, 69%);
        @include about-me-icon;
        animation: fadeIn 1s ease;
        transition: $smooth-transition-up;
      }
    }
  }

  &__old-portfolio:link,
  &__old-portfolio:visited {
    @include icons(-10%, 50%);
    border-bottom: 1px solid $color-primary;
    border-top: 1px solid $color-primary;
    animation: fadeIn 1s ease;
    text-decoration: none;
    color: $color-primary;
    transition: $smooth-transition-up;
    width: fit-content;
    @media (max-width: 905px) {
      @include icons(-2%, 50%);
      width: fit-content;
    }
  }
  &__old-portfolio:hover {
    transform: translateY($translateY-up-sm);
  }
  &__message {
    @include icons(50%, 94%);
    transform: translateX(-50%);
    border-bottom: 1px solid $color-primary;
    border-top: 1px solid $color-primary;
    animation: fadeIn 1s ease;
    @media (max-width: 395px) {
      font-size: 3rem;
      text-align: center;
    }
  }
}
