@import "../sass/variables";

.section-app-container {
  background-color: $color-background;
  &__layout {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 50rem;
  }
}
