<aside class="section-sidebar">
  <ul class="section-sidebar__list">
    <li class="section-sidebar__list__item">
      <a href="https://github.com/Totoblak90" target="_blank" class="btn section-sidebar__list__item__link">
        Github
      </a>
    </li>
    <li class="section-sidebar__list__item">
      <a href="https://www.linkedin.com/in/tobias-blaksley-5b883753/" target="_blank"
        class="btn section-sidebar__list__item__link">
        LinkedIn
      </a>
    </li>
    <li class="section-sidebar__list__item">
      <a href="assets/resume-tobias_blaksley-English.pdf" download class="btn section-sidebar__list__item__link">
        Resume
      </a>
    </li>
  </ul>
</aside>
