/* You can add global styles to this file, and also import other style files */
@import "./sass/variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 56.25%;
  height: 100%;
  @media (max-width: 1400px) {
    font-size: 50%;
  }
  @media (max-width: 905px) {
    font-size: 43.75%;
  }
  @media (max-width: 760px) {
    font-size: 37.5%;
  }
  @media (max-width: 550px) {
    font-size: 31.25%;
  }
  @media (max-width: 395px) {
    font-size: 24%;
  }
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  padding: $padding-xl;
  font-size: $fontSize-md;
  color: $color-primary;
  background-color: $color-background;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: $fontWeight-regular;
  height: 100vh;
  overflow-x: hidden;
  @media (max-width: 850px) {
    padding: 0.5rem 1rem;
  }
}

.heading-primary {
  font-size: $fontSize-xl;
  @media (max-width: 1250px) {
    width: 200%;
    text-align: center;
    font-size: 3rem;
  }
  &--sub1 {
    display: block;
    letter-spacing: 10px;
    @media (max-width: 1250px) {
      display: inline;
      letter-spacing: 0;
    }
  }
  &--sub2 {
    display: block;
    color: $color-tertiary;
    font-size: $fontSize-l;
    letter-spacing: 4.5px;
    @media (max-width: 1250px) {
      display: inline;
      letter-spacing: 1px;
    }
  }
}

.heading-secondary {
  font-size: $fontSize-l;
  @media (max-width: 395px) {
    font-size: $fontSize-xl;
  }
}

.btn {
  text-decoration: none;
  color: $color-secondary;
  cursor: pointer;
}
