<div class="section-about-me">

  <div class="section-about-me__sports-container">
    <img class="section-about-me__sports-container--icon" src="assets/ball.png" alt="VR">
    <h3 class="section-about-me__sports-container--title">Sports</h3>
    <p class="section-about-me__sports-container--description sport-appear">My hobby is to play football but love most
      kind of
      sports.</p>
  </div>
  <img class="section-about-me--headphones" src="assets/headphones.svg" alt="Headphones">
  <img class="section-about-me--family" src="assets/family.png" alt="Keypad">
  <img class="section-about-me--joystick" src="assets/joystick.svg" alt="Joystick">
  <h3 class="section-about-me__cta">
    Touch the icons
  </h3>
  <app-gradient-circle [img]="mainImage" [alt]="altMessageMainImage"></app-gradient-circle>


</div>
