@import "../../../sass/mixins";
@import "../../../sass/animations";
@import "../../../sass/variables";

.section-about-me {
  &__cta {
    @include icons(50%, 94%);
    transform: translateX(-50%);
    border-bottom: 1px solid $color-primary;
    border-top: 1px solid $color-primary;
    animation: twinkle 1s ease;
    width: fit-content;
  }

  &__sports-container {
    &--icon {
      @include icons(11%, 1%);
      @include about-me-icon;
      animation: fadeIn 1s ease;
      transition: $smooth-transition-up;
    }
    &--title {
      @include about-me-title-description(-5%, 10%);
      transform: translate(100%, -100%);
    }
    &--description {
      @include about-me-title-description(-5%, 14%);
      transform: translate(100%, -100%);
      width: $about-me-text-container;
    }
  }

  &__headphones-container {
    &--icon {
      @include icons(78%, 60%);
      @include about-me-icon;
      animation: fadeIn 1s ease;
      transition: $smooth-transition-up;
    }
    &--title {
      transform: translateX(-100%);
      @include about-me-title-description(91%, 48%);
    }
    &--description {
      @include about-me-title-description(91%, 52%);
      transform: translateX(-100%);
      width: $about-me-text-container;
    }
  }

  &__family-container {
    &--icon {
      @include icons(75%, 15%);
      @include about-me-icon;
      animation: fadeIn 1s ease;
      transition: $smooth-transition-up;
    }
    &--title {
      transform: translateX(-100%);
      @include about-me-title-description(90%, 35%);
      width: 100%;
    }
    &--description {
      transform: translateX(-100%);
      width: $about-me-text-container;
      @include about-me-title-description(91%, 39%);
    }
  }

  &__games-container {
    &--icon {
      @include icons(0%, 52%);
      @include about-me-icon;
      animation: fadeIn 1s ease;
      transition: $smooth-transition-up;
    }
    &--title {
      transform: translateX(100%);
      @include about-me-title-description(-8%, 68%);
    }
    &--description {
      transform: translateX(100%);
      width: $about-me-text-container;
      @include about-me-title-description(-8%, 72%);
    }
  }
}
