@import "../../../sass/mixins";
@import "../../../sass/animations";
@import "../../../sass/variables";

.section-about-me {
  animation: fadeIn 1s ease;

  &__cta {
    @include icons(50%, 94%);
    transform: translateX(-50%);
    border-bottom: 1px solid $color-primary;
    border-top: 1px solid $color-primary;
    animation: twinkle 1s ease;
  }

  &__sports-container {
    &--icon {
      @include icons(29%, 1%);
      @include about-me-icon;
    }
    &--title {
      @include about-me-title-description(20%, 10%);
      transform: translate(100%, -100%);
    }
    &--description {
      @include about-me-title-description(20%, 14%);
      transform: translate(100%, -100%);
      width: $about-me-text-container;
    }
  }

  &__headphones-container {
    &--icon {
      @include icons(65%, 60%);
      @include about-me-icon;
    }
    &--title {
      transform: translateX(-100%);
      @include about-me-title-description(73.5%, 62%);
    }
    &--description {
      @include about-me-title-description(73.5%, 66%);
      transform: translateX(-100%);
      width: $about-me-text-container;
    }
  }

  &__family-container {
    &--icon {
      @include icons(65%, 15%);
      @include about-me-icon;
    }
    &--title {
      transform: translateX(-100%);
      @include about-me-title-description(74%, 19%);
    }
    &--description {
      transform: translateX(-100%);
      width: $about-me-text-container;
      @include about-me-title-description(74%, 23%);
    }
  }

  &__games-container {
    &--icon {
      @include icons(22%, 52%);
      @include about-me-icon;
    }
    &--title {
      transform: translateX(100%);
      @include about-me-title-description(11%, 52%);
    }
    &--description {
      transform: translateX(100%);
      width: $about-me-text-container;
      @include about-me-title-description(11%, 56%);
    }
  }
}
