<div class="section-about-me">

  <div class="section-about-me__sports-container">
    <img class="section-about-me__sports-container--icon" src="assets/ball.png" alt="Ball">
    <h3 class="section-about-me__sports-container--title">Sports</h3>
    <p class="section-about-me__sports-container--description sport-appear">
      My hobby is to play football but love most kind of sports.
    </p>
  </div>

  <div class="section-about-me__headphones-container">
    <img class="section-about-me__headphones-container--icon" src="assets/headphones.svg" alt="Headphones">
    <h3 class="section-about-me__headphones-container--title">Music</h3>
    <p class="section-about-me__headphones-container--description sport-appear">
      I'm always with my music turned on and very lowd.
    </p>
  </div>

  <div class="section-about-me__family-container">
    <img class="section-about-me__family-container--icon" src="assets/family.png" alt="Family">
    <h3 class="section-about-me__family-container--title">Family & friends</h3>
    <p class="section-about-me__family-container--description sport-appear">
      I'm a very social person who loves spending time with family and friends.
    </p>
  </div>

  <div class="section-about-me__games-container">
    <img class="section-about-me__games-container--icon" src="assets/joystick.svg" alt="Family">
    <h3 class="section-about-me__games-container--title">Games</h3>
    <p class="section-about-me__games-container--description sport-appear">
      Like to spend time playing computer games.
    </p>
  </div>
  <h3 class="section-about-me__cta">
    Touch the icons
  </h3>
  <app-gradient-circle [img]="mainImage" [alt]="altMessageMainImage"></app-gradient-circle>


</div>
