@import "../../../sass/mixins";
@import "../../../sass/animations";
@import "../../../sass/variables";

.section-about-me {
  &__cta {
    @include icons(50%, 94%);
    transform: translateX(-50%);
    border-bottom: 1px solid $color-primary;
    border-top: 1px solid $color-primary;
    animation: twinkle 1s ease;
    width: fit-content;
    @media (max-width: 395px) {
      font-size: 5rem;
    }
  }

  &__sports-container {
    &--icon {
      @include icons(11%, 1%);
      @include about-me-icon;
      animation: fadeIn 1s ease;
      transition: $smooth-transition-up;
      @media (max-width: 750px) {
        transition: all 0.5s;
        &:hover {
          opacity: 0;
        }
      }
    }
    &--title {
      @include about-me-title-description(-5%, 10%);
      transform: translate(100%, -100%);
      @media (max-width: 750px) {
        @include about-me-title-description(11%, 1%);
        z-index: 99999 * 99999;
      }
      @media (max-width: 450px) {
        @include about-me-title-description(30%, 47%);
      }
      @media (max-width: 395px) {
        @include about-me-title-description(40%, 41%);
        font-size: 3rem;
      }
    }
    &--description {
      @include about-me-title-description(-5%, 14%);
      transform: translate(100%, -100%);
      width: $about-me-text-container;
      @media (max-width: 750px) {
        @include about-me-title-description(11%, 5%);
        z-index: 99999 * 99999;
      }
      @media (max-width: 450px) {
        @include about-me-title-description(41%, 45%);
      }
      @media (max-width: 395px) {
        @include about-me-title-description(35%, 46%);
        font-size: 3rem;
      }
    }
  }

  &__headphones-container {
    &--icon {
      @include icons(78%, 60%);
      @include about-me-icon;
      animation: fadeIn 1s ease;
      transition: $smooth-transition-up;
      @media (max-width: 750px) {
        transition: all 0.5s;
        &:hover {
          opacity: 0;
        }
      }
    }
    &--title {
      transform: translateX(-100%);
      @include about-me-title-description(91%, 48%);
      @media (max-width: 750px) {
        @include about-me-title-description(78%, 60%);
        z-index: 99999 * 99999;
      }
      @media (max-width: 450px) {
        @include about-me-title-description(30%, 47%);
      }
      @media (max-width: 395px) {
        @include about-me-title-description(40%, 41%);
        font-size: 3rem;
      }
    }
    &--description {
      @include about-me-title-description(91%, 52%);
      transform: translateX(-100%);
      width: $about-me-text-container;
      @media (max-width: 750px) {
        @include about-me-title-description(78%, 64%);
        z-index: 99999 * 99999;
      }
      @media (max-width: 450px) {
        @include about-me-title-description(40%, 45%);
      }
      @media (max-width: 395px) {
        @include about-me-title-description(35%, 46%);
        font-size: 3rem;
      }
    }
  }

  &__family-container {
    &--icon {
      @include icons(75%, 15%);
      @include about-me-icon;
      animation: fadeIn 1s ease;
      transition: $smooth-transition-up;
      @media (max-width: 750px) {
        transition: all 0.5s;
        &:hover {
          opacity: 0;
        }
      }
    }
    &--title {
      transform: translateX(-100%);
      @include about-me-title-description(90%, 35%);
      width: 100%;
      @media (max-width: 750px) {
        @include about-me-title-description(75%, 15%);
        z-index: 99999 * 99999;
      }
      @media (max-width: 450px) {
        @include about-me-title-description(38%, 42%);
      }
      @media (max-width: 395px) {
        @include about-me-title-description(36%, 40%);
        font-size: 3rem;
      }
    }
    &--description {
      transform: translateX(-100%);
      width: $about-me-text-container;
      @include about-me-title-description(91%, 39%);
      @media (max-width: 750px) {
        @include about-me-title-description(75%, 19%);
        z-index: 99999 * 99999;
      }
      @media (max-width: 450px) {
        @include about-me-title-description(35%, 46%);
      }
      @media (max-width: 395px) {
        font-size: 3rem;
      }
      @media (max-width: 395px) {
        font-size: 3rem;
      }
    }
  }

  &__games-container {
    &--icon {
      @include icons(0%, 52%);
      @include about-me-icon;
      animation: fadeIn 1s ease;
      transition: $smooth-transition-up;
      @media (max-width: 750px) {
        transition: all 0.5s;
        &:hover {
          opacity: 0;
        }
      }
    }
    &--title {
      transform: translateX(100%);
      @include about-me-title-description(-8%, 68%);
      @media (max-width: 750px) {
        @include about-me-title-description(0%, 52%);
        z-index: 99999 * 99999;
      }
      @media (max-width: 450px) {
        @include about-me-title-description(30%, 47%);
      }
      @media (max-width: 395px) {
        @include about-me-title-description(40%, 41%);
        font-size: 3rem;
      }
    }
    &--description {
      transform: translateX(100%);
      width: $about-me-text-container;
      @include about-me-title-description(-8%, 72%);
      @media (max-width: 750px) {
        @include about-me-title-description(0%, 56%);
        z-index: 99999 * 99999;
      }
      @media (max-width: 450px) {
        @include about-me-title-description(42%, 45%);
      }
      @media (max-width: 395px) {
        @include about-me-title-description(35%, 46%);
        font-size: 3rem;
      }
    }
  }

  &__small-screen-hover {
    @include gradientCircle(36rem, 36rem, $color-primary);
    background-color: $color-background;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100000px;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
  }
}

@media (max-width: 450px) {
  .section-about-me__sports-container:hover + div + div + div + h3 + div {
    opacity: 1;
  }
  .section-about-me__headphones-container:hover + div + div + h3 + div {
    opacity: 1;
  }
  .section-about-me__family-container:hover + div + h3 + div {
    opacity: 1;
  }
  .section-about-me__games-container:hover + h3 + div {
    opacity: 1;
  }
}
